* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
.logo {
    width: 100px;
    height: 100px;
}

body {
    background-color: #f4f4f4;
    color: #333;
    position: relative; /* Tambahkan ini */
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-top: 132px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li a {
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #00bfa5;
}

.navbar ul li:hover::after {
    content: '';
    display: block;
    height: 2px;
    background: #009688;
    width: 100%;
}

.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 60px;
    margin-top: 80px;
    color: #fff;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
    color: #ddd;
}

.links {
    background-color: #add8e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: #302e2e;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #00bfa5;
}

.links p {
    padding: 8px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

footer a:hover {
    color: #dddddd;
}